.title {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.imgStyle {
    border-radius: 16px;
}

.subTitle {
    text-align: center;
    font-size: 16;
    padding: 0px 0px 15px 0px;
}

.styleCard {
    border-radius: 16px;
}

.mainfo {
    font-size: 11px !important;
    font-weight: bold;
}
