.imgStyle {
    border-radius: 50%;
    height: 120px !important;
}

.img{
    text-align: center;
}

.labelTxt{
    font-size: 14px !important;
    font-weight: bold;
    font-family: montserrat !important;
}

.inputTxt{
    font-size: 12px !important;
    font-family: montserrat !important;
}